@page "/pc"

<button class="btn btn-primary" @onclick="IncrementCounter">
    Increment counter
</button>

<h1 style="@Style">Parent component text - Counter: @Counter</h1>
@*IsFixed="false" by default*@
@*IsFixed="true" value in child component won't change once be assigned from parent*@
<CascadingValue Value="@Counter" Name="Counter" IsFixed="false">
    <CascadingValue Value="@Style" Name="ColorStyle" IsFixed="true">
        <CascadingValue Value="@BorderStyle" Name="BorderStyle" IsFixed="true">
            <ChildComponent></ChildComponent>
        </CascadingValue>
    </CascadingValue>

</CascadingValue>
@code
{
    public string Style { get; set; } = "color:red";
    //public int EmployeeAge { get; set; } = 25;
    public string BorderStyle { get; set; } = "border:1px solid red";
    public int Counter { get; set; } = 0;

    private void IncrementCounter()
    {
        Counter += 1;
    }
}
